* {
    box-sizing: border-box;
}

.wellcome {
    margin: 0 auto;
    position: static;
}

.login-form {
    display: none;
    margin: 0 auto;
    position: relative;
    padding: 2%;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signup-form {
    display: none;
    margin: 0 auto;
    position: relative;
    padding: 2%;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.show {
    display: block !important;
}




